---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

.background-guide {
  background-image: url("/images/line.png");
  background-repeat: no-repeat;
  background-position: center;
}

p {
  max-width: 50em;
}

.match-animation {
  min-height: 0;
}

.bg-grey {
  background-color: #e4e4e4;
}
