:root {
  --color-primary: #000000;
  --color-accent: ##6692d4;
  --color-hover: #8D8D8D;

  --font-secondary: neuzeit-grotesk-condensed, sans-serif;
  --font-primary: neuzeit-grotesk, sans-serif;
}

h1, h2 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

p {
  font-family: var(--font-primary);
}
