.width {
  width: 17em;
  font-weight: lighter;
}

.zetta {
  line-height: 1.1;
}

.yotta {
  line-height: 1.1;
}

p {
  color: var(--color-secondary);
}

.temp-color {
  background-color: var(--color-hover);
}

.bg {
  background-image: url(/images/sticker-1.png);
  background-size: auto 7em;
  background-repeat: no-repeat;
  background-position: top right;
}

.sticker {
  width: 8em;
  z-index: -2;
  top: -1em;
  left: 13em;
}

.banner-video-embed {
  padding-top: 100%;
}

.banner-video-embed .embed-item {
  width: auto;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.break-height {
  line-height: 1;
}

.center-bb {
  margin: 0 auto;
}

@media only screen and (min-width: 30em) {

  .banner-video-embed {
    padding-top: 80%;
  }

  .banner-video-embed .embed-item {
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .bg {
    background-image: url(/images/sticker-1.png);
    background-size: auto 10em;
    background-repeat: no-repeat;
    background-position: top right;
  }

}

@media only screen and (min-width: 38em) {

  .push-downvid {
    position: absolute;
  }

  .text-headermove {
    position: absolute;
    left: 0;
    top: 12em;
    z-index: 100;
  }

}

@media only screen and (min-width: 60em) {

  .banner-video-embed {
    padding-top: 72%;
  }

  .bg {
    background-size: auto 15em;
    background-position: top right;
  }

  .sticker {
    width: 10em;
    top: -1em;
    left: 20em;
  }

  .pin-c {
    top: 42%;
  }

}

@media only screen and (min-width: 80em) {

  .banner-video-embed {
    padding-top: 56.3%;
  }

  .banner-video-embed .embed-item {
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .sticker {
    width: 10em;
    top: -1em;
    left: 20em;
  }

}
